body {
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-color:black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 100%;
}
.container{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 112px;

}
.pizza{ 
    width: 250px;
    height: 250px;
    background-color: white;

}
.one{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/45.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.two{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/7777.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.three{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/p1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.four{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/rrr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.five{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/899.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.six{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jkjkkk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.pizza p{
    display: none;
}
.pizza:hover p{
    display: block;
    text-align: center;
}
.pizza h3{
    display: none;
    text-align: center;
    margin: 30px;
    bold
}
.pizza:hover h3{
    display: block;
}
h1{
    text-align: center;
}